.frame {
  position: relative;
}

.frame:fullscreen {
  box-sizing: border-box;
  inline-size: 100%;
  block-size: 100%;
  background: var(--color-bg-1);
}

.button {
  position: absolute;
  z-index: 4;
  inset-block-start: 8px;
  inset-inline-end: 8px;
  color: var(--color-text-1);
  background: var(--color-bg-2);
  box-shadow: var(--shadow-card);
}
